.swiper-pagination-bullet {
  background-color: rgb(239, 130, 0) !important;
  width: 14px !important;
  height: 14px !important;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: rgb(239, 130, 0) !important;
  font-size: 56px;
}
