// I need to add * box-sizing: border-box in latest index.scss, for proper display

.footer-section {
    min-height: 23.38rem;
    padding-top: 2rem;

    &__wrapper {
        max-width: 73.13rem;
        margin: 0 auto;
        padding: 2rem 2.44rem 2rem 2.44rem;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $dark-color;
        border-bottom: 1px solid $dark-color;

    }

    &__group {
        font-family: $fourth-font;


        a {
            text-decoration: none;
            color: $dark-color;
        }
    }

    &__title {
        margin: 0;

        a {
            font-weight: 600;
        }
    }

    &__list {
        display: inline-block;
        margin: 1.185rem 0 0 0;
        padding: 0;
        list-style: none;
        font-weight: 300;

        li {
            margin-top: 0.875rem;
        }

    }

    &__rights {
        max-width: 73.13rem;
        margin: 0 auto;
        padding: 2rem 0 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-family: $fourth-font;
            margin: 0;
            width: 12.5rem;
            text-align: right;
        }
    }
}