@import '../../assets/styles/variables.scss';

.hero {
    min-height: 40.75rem;
    background: url(../../assets/img/hero.png) center center/cover no-repeat;

    &-wrapper{
        max-width: 73.13rem;
        margin: 0 auto;
        padding-top: 6.13rem;
        display: flex;
        justify-content: flex-end;
    }

    &-info {
        max-width: 39.88rem;
        display: flex;
        flex-direction: column; 
        position: relative;

        &-header{
            margin: 0 0 10.31rem 0;
            align-self: flex-end;
            font-family: $third-font, serif;
            font-weight: 400;
            font-style: normal;
            font-size:3.13rem;
            color: $light-color;
            text-align: right;
        }
        &-search{
            margin: 0;
            position: absolute;
            right: 3.5rem; 
            top: 68%;
            transform: translateY(-50%);

        }
        &-slogan {
            width: 19.5rem;
            height: 3.75rem;
            margin: 0;
            align-self: flex-start;
            font-family: $fourth-font, sans-serif;
            font-optical-sizing: auto;
            font-size: 1.25rem;
            font-weight: 400;
            font-style: normal;
            color: $light-color;
            text-align: center;
        }
    }
}
