@import '../../../assets/styles/variables.scss'; 

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img::after {
    content: '';
    display: inline-block;
    width: 0.06rem;
    height: 2.7rem;
    background-color: $dark-color;
    margin: 0 0.5rem;
}

.logo-text {
    font-family: $secondary-font;
    font-size: 1.31rem;
}