.nav-wrapper {
    background-color: rgba($light-color, 0.9);
    min-height: 4.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    max-width: 73.13rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    gap: 1rem;
    font-family: $primary-font;
    font-size: 1.125rem;
    color: $dark-color;
    text-align: center;
}

ul {
    display: contents;
}

.menu-item {
    list-style: none;
}

.menu-item:nth-child(1) {
    grid-column: 1;
}

.menu-item:nth-child(2) {
    grid-column: 2;
}

.menu-item:nth-child(3) {
    grid-column: 3;
}

.menu-item:nth-child(4) {
    grid-column: 4;
    width: 6rem;
}

.center-item {
    grid-column: 6 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-item {
    grid-column: 12;
    justify-self: end;
}