@import "node_modules/normalize-scss/sass/normalize/import-now";

@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* third-font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
/* fourth-font */

* {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: $light-color;
}

@font-face {
  /* main-font */
  font-family: 'BakerSignetStd';
  src: url('./assets/fonts/BakerSignetStd.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* secondary-font */
  font-family: 'Unique';
  src: url('./assets/fonts/Unique/Unique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}