:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'SeoulHangangCB';
  src: url('./assets/fonts/SeoulHangangCondensed/SeoulHangangCBRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Unique';
  src: url('./assets/fonts/Unique/Unique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}