$primary-font: 'SeoulHangangCB', sans-serif;
$secondary-font: 'Unique', sans-serif;
$third-font: 'Ultra', sans-serif;
$fourth-font: "Josefin Sans", sans-serif;

$light-color: rgb(239,241,228);
$dark-color: rgb(23, 23, 23);